body {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.center {
  display: grid;
  place-items: center;
  place-content: center;
  gap: 1rem;
  grid-template-columns: 200px 200px 200px;
  grid-template-areas:
    "header  header  header"
    "chart chart legend";
}

.intro-wrap {
  grid-area: header;
}

.chart {
  grid-area: chart;
}

.legend {
  grid-area: legend;
}

ul {
  padding-left: 1rem;
}

ul li {
  list-style-type: none;
  padding: 0.4rem 0 0.45rem 0;
  transition: all 0.5s;
  cursor: pointer;
}

.bar {
  background-color: #251351;
  border: 4px solid #fbaeb7;
  height: 1.5rem;
  transition: all 0.5s;
  cursor: pointer;
}

.bar.highlightBar {
  border: 4px solid #251351;
}

.highlightText {
  color: #251351;
  font-weight: bold;
}
